* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
}
header .container {
  padding: 0px;
}
.container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}
.img_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_logo h1 {
  color: #b28756;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s linear;
}
.img_logo h1:hover {
  transform: scale(1.1);
}
.container nav ul {
  display: flex;
  list-style: none;
}
.container nav a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  padding: 43px 2px;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.container nav a::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  background-color: #b28756;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}
.container nav a:hover:not(.active)::after {
  width: 100%;
}
.active {
  border-bottom: 3px solid #b28756;
}
#banner {
  display: flex;
  width: 100%;
  background-image: url("/assets/images/bg.jpg");
}
#banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b6;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
}
#banner h1 {
  color: #fff;
  font-size: 50px;
}
#banner span {
  color: #b28756;
}
#banner h3 {
  color: #fff;
  margin-top: 25px;
}
#banner a {
  background-color: #b28756;
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: 600;
  transition: all 0.2s linear;
}
#banner a:hover {
  background-color: #b28756d0;
}
.elements {
  display: flex;
  justify-content: space-around;
  width: 65px;
  position: absolute;
  bottom: 40px;
}
.elements1:nth-child(1) {
  background-color: #b28756;
}
.elements1 {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 30px;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}
.flex h6 {
  color: #ccc;
  margin-top: 5px;
}
.geral_resume {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.resume_about {
  width: 35%;
}
.resume_about p {
  width: 90%;
  text-align: justify;
  font-size: 14px;
  margin-bottom: 35px;
}
.resume_about a {
  background-color: #b28756;
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.2s linear;
  min-width: 154px;
}
.resume_about a:hover {
  background-color: #b28756d0;
}
.image_resume img {
  width: 480px;
  margin-left: 30px;
  box-shadow: 1px 6px 5px 3px #00000077;
}
#service {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100%;
}
#service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
#service .container h3 {
  color: #fff;
}
#service .container h6 {
  color: #fff;
  margin-top: 10px;
}
.services_box {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.services_box .services {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #222;
  padding: 20px;
}
.services_box .services:nth-child(4) {
  border-right: 1px solid #222;
}
.services_box .services img {
  width: 60px;
}
.services_box .services h3 {
  color: #fff;
  margin-top: 20px;
}
.services_box .services p {
  color: #666;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects nav ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 100px;
  flex-wrap: wrap;
}
#projects nav a {
  text-decoration: none;
  color: #444;
  padding: 0px;
  font-size: 12px;
  margin-left: 0;
  padding: 10px;
  flex: 1;
}
#projects nav li {
  border-left: 1px solid #ccc;
}
#projects nav li:nth-child(1) {
  border-left: none;
}
.img_projects {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.img_wrapper {
  width: 280px;
  height: 170px;
  position: relative;
  cursor: pointer;
  margin: 10px;
}
.img_wrapper img {
  width: inherit;
  height: inherit;
}
.img_wrapper .about-image--absolute {
  width: inherit;
  height: inherit;
  color: #fff;
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000a2;
  transition: all 0.2s linear;
}
.img_wrapper:hover .about-image--absolute {
  opacity: 1;
}
.about-image--absolute h5 {
  font-size: 18px;
  font-weight: 600;
}
.about-image--absolute p {
  font-size: 13px;
}
.btn-project {
  background-color: #b28756;
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.btn-project:hover {
  background-color: #b28756d0;
}
#our-team {
  margin-top: 50px;
  background-image: url("/assets/images/foto2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}
#our-team .container {
  background-color: #000000b6;
  width: 100%;
  display: flex;
  padding: 70px;
  flex-direction: column;
  color: #fff;
  height: 100%;
  position: relative;
}
.our-team--persona {
  display: flex;
  margin-top: 30px;
  height: 100%;
}
.block-team {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 330px;
  width: 300px;
}
.persona-team--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.persona-team--block img {
  width: 120px;
  height: 120px;
}
.persona-team--block h4 {
  color: #000000;
  font-size: 18px;
  margin-top: 25px;
}
.persona-team--block p {
  color: #aaa;
  font-size: 13px;
  margin-top: 7px;
}
.social-media {
  display: flex;
  margin-top: 15px;
}
.circle-social-media--box {
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 1000px;
  margin: 5px;
  cursor: pointer;
}
.circle-social-media--box img {
  width: 14px;
  height: 14px;
}
.circle-social-media--box .facebook {
  width: 8px;
}
.circle-social-media--box:hover {
  background-color: #b28756;
}
#our-team .container .elements {
  position: absolute;
  bottom: 35px;
}
.client-avaliation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 50px;
}
.client-avaliation .elements {
  position: absolute;
  bottom: 0;
}
#ads {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#ads .container {
  padding: 30px;
  display: flex;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
}
#ads .container img {
  padding: 15px 20px;
}
.table-price {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.widget-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
}
.widget-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.widget-title h5 {
  margin-bottom: 10px;
}
.widget-title h4 {
  color: #bbb;
  font-weight: 400;
  margin-bottom: 10px;
}
.widget-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.widget-body p {
  font-size: 12px;
  padding: 8px;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}
.widget-body p:not(.view)::after {
  content: "";
  height: 1px;
  width: 10px;
  background-color: #000000;
  position: absolute;
  bottom: -5px;
  right: 45%;
}
.widget-body p:nth-child(2)::after {
  right: 47%;
}
.widget-body a {
  margin-top: 10px;
  padding: 10px 40px;
}
.max {
  width: 100%;
  padding: 0px;
  padding-bottom: 80px;
  position: relative;
}
.max .elements {
  right: 48%;
  bottom: 0;
}
.book-box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.book-box .book-img {
  display: flex;
  justify-content: center;
  flex: 1;
}
.book-box .book-img img {
  width: 350px;
  height: 340px;
}
.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-box .widget-title--book {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.book-box .widget-title--book h3 {
  margin-left: 9px;
}
.book-box .widget-body--book {
  margin-left: 6%;
}
.book-box .widget-body--book p {
  font-size: 13px;
  margin-top: 5px;
  color: #aaa;
  width: 80%;
  position: relative;
}
.book-box .widget-body--book p:nth-child(4) {
  margin-bottom: 20px;
}
.book-box .widget-body--book p:not(.view) {
  margin-left: 1.8%;
}
.book-box .widget-body--book p:not(.view)::before {
  content: "";
  height: 1px;
  width: 8px;
  background-color: #aaa;
  position: absolute;
  bottom: 7px;
  left: -12px;
}
.widget-body--book .view {
  margin-bottom: 10px;
}
#fact {
  margin-top: 60px;
  background-color: #000000;
}
#fact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}
.some-facts--box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.some-facts--box .widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 30px 30px 20px 30px;
}
.widget-title--facts h1 {
  font-size: 37px;
  color: #b28756;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 20px;
}
.widget-title--facts h1::after {
  content: "";
  background-color: #b28756;
  height: 2px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 40%;
}
.widget-body--facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.widget-body--facts p {
  font-size: 13px;
  margin-top: 7px;
}
#media-about {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
#media-about .container {
  display: flex;
  width: 85%;
  justify-content: center;
}
#media-about .container h4 {
  margin-left: 3%;
  width: 170px;
  color: #aaa;
  font-weight: 600;
}
.logo-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
}
.img-social--media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.logo-social--media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.logo-social-media--twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8cdfd;
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  position: relative;
}
.logo-social-media--linkedin {
  background-color: #7885ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  position: relative;
}
.logo-social-media--facebook {
  background-color: #7885ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  position: relative;
}
.logo-social-media--facebook {
  background-color: #6776f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  position: relative;
}
.logo-social-media--google-pint {
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  position: relative;
}
.logo-social--media:hover {
  opacity: 1;
  width: 20px;
  height: 20px;
  transform: translateY(-5px);
}
.logo-social--media img {
  width: 15px;
  height: 15px;
}
.img-social--media h6 {
  display: flex;
  flex: 1;
  margin-left: 10px;
  color: #aaa;
}
.form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 50px;
}
.form-contact form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-contact input {
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  color: #aaa;
  font-size: 15px;
}
.form-contact input::placeholder {
  color: #bbb;
}
.email {
  margin-left: 20px;
}
.form-contact .subject-form {
  width: 720px;
  margin-left: 0;
}
.form-contact input,
textarea {
  border: none;
  border-bottom: 2px solid #bbb;
  outline: none;
}
.form-contact textarea {
  resize: none;
  height: 30px;
  width: 720px;
  margin-top: 60px;
  padding: 0px 10px;
  color: #aaa;
  font-size: 15px;
  columns: 1;
}
.form-contact textarea::placeholder {
  color: #bbb;
}
.form-contact form a {
  margin-top: 50px;
}
#local {
  display: flex;
  align-items: center;
  background-image: url("/assets/images/mapa.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 40px;
}
.box-local--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  width: 400px;
  height: 320px;
}
.info-local {
  display: flex;
  align-items: center;
  padding: 10px;
}
.info-local p {
  font-size: 13px;
  color: #bbb;
  margin-left: 15px;
}
.logo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
  border-radius: 100px;
  min-width: 35px;
  height: 35px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #000000;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  flex: 1;
}
.footer-left .circle-social-media--box {
  background-color: #222;
  transition: all 0.2s linear;
}
.footer-left .circle-social-media--box:hover {
  background-color: #b28756;
}
.footer-left .site-name h4 {
  color: #fff;
}
.footer-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.footer-mid .spec-footer p {
  color: #fff;
  font-size: 13px;
  text-align: justify;
}
.footer-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #444;
  width: 250px;
  height: 170px;
}
.subscribe-box input {
  text-align: center;
  color: #bbb;
  font-size: 13px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #bbb;
  outline: none;
  background-color: transparent;
}
.menu .menu-opener {
  display: none;
}
@media (min-width: 768px) and (max-width: 1669px) {
  .form-contact .email {
    margin: 0;
  }
}
@media (min-width: 450px) and (max-width: 768px) {
  .flex {
    padding: 0px;
  }
  header .container {
    padding: 31px 0px 31px 0px;
    width: 90%;
  }
  header .container .menu img {
    width: 32px;
    height: 32px;
  }
  header .container nav {
    display: none;
  }
  header .container nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    width: 70vw;
    height: calc(100vh - 100px);
    right: 0;
    top: 100px;
    padding-left: 0;
  }
  #projects .flex nav ul {
    padding-left: 0;
  }
  header .container nav a {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    width: 100%;
  }
  header nav .active {
    border: 0;
    color: #b28756;
  }
  #banner h1 {
    font-size: 35px;
  }
  #banner h3 {
    font-size: 15px;
  }
  .geral_resume {
    flex-direction: column;
    align-items: center;
  }
  .geral_resume .resume_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .geral_resume .image_resume {
    margin-top: 40px;
  }
  .geral_resume .image_resume img {
    width: 300px;
    margin-left: 0;
  }
  .services_box:nth-child(3) {
    border-right: 1px solid #222;
  }
  .book-box {
    flex-direction: column;
  }
  .book-box .book-img img {
    width: 320px;
  }
  .spec-book .widget-body--book {
    margin-left: 0;
    margin-top: 10px;
  }
  .block-team {
    width: 280px;
    height: 280px;
  }
  .block-team:nth-child(1) {
    display: none;
  }
  .form-contact .email {
    margin: 0;
  }
  .form-contact form a {
    min-width: 169px;
  }
  .footer-left {
    padding: 20px;
  }
  .footer-mid {
    padding: 20px;
  }
  .footer-right {
    padding: 20px;
  }
  .menu .menu-opener {
    display: flex;
  }
}
@media (max-width: 450px) {
  .flex {
    padding: 0px;
  }
  header .container {
    padding: 31px 0px 31px 0px;
    width: 90%;
  }
  header .container .menu img {
    width: 32px;
    height: 32px;
  }
  header .container nav {
    display: none;
  }
  header .container nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    width: 70vw;
    height: calc(100vh - 100px);
    right: 0;
    top: 100px;
    padding-left: 0;
  }
  header .container nav a {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    width: 100%;
  }
  header nav .active {
    border: 0;
    color: #b28756;
  }
  #banner h1 {
    font-size: 35px;
  }
  #banner h3 {
    font-size: 15px;
  }
  .geral_resume {
    flex-direction: column;
    align-items: center;
  }
  .geral_resume .resume_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .geral_resume .image_resume {
    margin-top: 40px;
  }
  .geral_resume .image_resume img {
    width: 300px;
    margin-left: 0;
  }
  #projects .flex nav ul {
    padding-left: 0;
  }
  .services_box .services {
    border-right: 1px solid #222;
  }
  .book-box {
    flex-direction: column;
  }
  .book-box .book-img img {
    width: 320px;
  }
  .spec-book .widget-body--book {
    margin-left: 0;
    margin-top: 10px;
  }
  .block-team {
    width: 280px;
    height: 280px;
  }
  .block-team:nth-child(2n + 1) {
    display: none;
  }
  .footer-left {
    padding: 20px;
  }
  .form-contact .email {
    margin: 0;
  }
  .form-contact form a {
    min-width: 169px;
  }
  .footer-mid {
    padding: 20px;
  }
  .footer-right {
    padding: 20px;
  }
  .menu .menu-opener {
    display: flex;
  }
}
